# Maven
target/
*.class

# Logs
logs/
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Docker
*.tar

# Helm output
*-rendered.yaml
deployments.yaml
services.yaml
configmaps.yaml
secrets.yaml

# Local environment
.env